/*   PRELOAD FONTS   */

@font-face {
    font-family: starjedi;
    src: url(/css/fonts/Starjedi.ttf);
}

/*   GENERAL FORMATS  */

body {
    width: auto;
    background-color: gray;
    //text-align: center;
    font-family: helvetica;
}

h1 {
    color: black;
    font-family: starjedi;
    font-size: 45px;
}

a {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration-color: none;
}

p {
    text-align: left;
}

li {
    display: inline-block;
}
    

/*  LOGO  */

#logo {
    width: 170px;
    padding-left: 70px;
    padding-right: 70px;
}

/*  HEADER  */

#headerBar {
    min-width: 900px;
    padding-top: 18px;
    padding-bottom: 18px;
    width: auto;
    font-size: 40px;
    font-family: starjedi;
}

#teamHome {
    color: black;
}


/*  MENU  */

#menu {
    min-width: 250px;
    width: 250px;
    vertical-align: top;
    border: 8px;
    border-color: red;
    border-radius: 2px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: blue;
}

#navLink {
    padding: 0.5em;
    vertical-align: top;
}


/*  CONTENT LAYOUT  */

.content {
    background-color: #bfbfbf;
    padding-left: 30px;
    min-width: 650px;
    width: 650px;
}


#footer {
    font-size: 10px;
    background-color: darkgray;
    width: 750px;
    min-width: 750px;
    padding-left: 300px;
    padding-top: 4px;
    padding-bottom: 4px;
}

#outer {
    border: 8px;
    border-color: orange;
}
